*{
    margin: 0%;
    padding: 0%;
}


header{
    background-color: black;
    padding: 50px;
    margin: 
}
header > h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 10px;
}


main aside {
    background-color: aqua;
    color: white;
    padding: 10px;
    margin: -5px -5px 0px -5px;
    border-radius: 5px 5px 0px 0px;
}