*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1:verdana, geneva, tahoma, sans-serif;
    --fonte2:"PassionOne", cursive;
    --fonte3:"Sriracha", cursive;
}


html, body{
    font-family: var(--fonte1);
    min-height: 100%;
    background-color: gray;
}


header{
    background-color: black;
    padding: 50px;

}

header > h1{
    text-align: center;
    color: white;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 3vw;
    min-width:300px;
}
header > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    min-width: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: gray;
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed;
    background-color: wheat;
    color: white;
    text-shadow: 1px 1px 2px 0px;
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.568);
}

main{
    padding: 10px;
}


main aside {
    background-color: aqua;
    color: white;
    padding: 10px;
    margin: -5px -5px 0px -5px;
    border-radius: 5px 5px 0px 0px;
}

section#img01{
    background-position: right center;
    background-image: url(../Imagens/background001.jpg);

}

section#img02{
    background-image: url(../Imagens/background002.jpg)

}

footer{
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white
}

